.bghint {
  background-color: #f3f7f7;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.bgreen { border-color: #55ff99; }
.bblue { border-color: #aaaaff; }
.bred { border-color: #ffaaaa; }
