html {
  font-family: var(--font-family);
}

.border {
  border: 1px solid var(--color-border);
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
}

table th {
  background-color: var(--color-border);
  /* somehow border doesn't work on position: sticky so hack it around */
  box-shadow: 0 0 0 1px var(--color-border-light);
}

table.no-col-border th {
  box-shadow: none;
}

table td:not(:last-child) {
  border-right: 1px solid var(--color-border-light);
}

/* this must come after the previous `table td` rule */
table.no-col-border td {
  border-right: none;
}

table tr {
  border-bottom: 1px solid var(--color-border-light);
}

.row-clickable tbody tr:hover {
  background-color: var(--color-bg-hover);
  cursor: var(--cursor-hover);
}

.row-selected {
  background-color: var(--color-bg-selected);
}

.inactive {
  color: var(--color-inactive);
}

/* animations */

@keyframes positive-update {
  from { background-color: var(--color-positive); }
}

@keyframes negative-update {
  from { background-color: var(--color-negative); }
}

.changed {
  animation-duration: var(--anim-duration-cell-change);
  animation-timing-function: cubic-bezier(.9,.03,.69,.22);
}

.positive {
  animation-name: positive-update;
}

.negative {
  animation-name: negative-update;
}
