/* Default theme
 *
 * This theme is inspired by Poloniex's theme before the redesign in July 2020.
 *
 * Make sure to update `sample.theme.user.js` when updating this file.
 */

:root {
  --font-family: sans-serif;
  --font-size: unset;

  --color-bg-header: #b3d5d6;
  --color-border: var(--color-bg-header);
  --color-border-light: #e1eeef;
  --color-bg-hover: #dae7e6;
  --color-bg-selected: #fbf4c7;
  --color-inactive: #91bbbc;
  --color-positive: #ceebd3;
  --color-negative: #f6d4d1;

  --cursor-hover: pointer;

  --anim-duration-cell-change: 2s;
}
