html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

table th {
  background-color: #b3d5d6;
}

.row-clickable tbody tr:hover {
  background-color: #dae7e6;
  cursor: pointer;
}

.row-selected {
  background-color: #fbf4c7;
}

.inactive {
  color: #91bbbc;
}

/* animations */

@keyframes positive-update {
  from { background-color: #ceebd3; }
}

@keyframes negative-update {
  from { background-color: #f6d4d1; }
}

.changed {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.9,.03,.69,.22);
}

.positive {
  animation-name: positive-update;
}

.negative {
  animation-name: negative-update;
}
