html {
  font-family: sans-serif;
}

.frozen {
  color: #91bbbc;
}

.positive {
  color: #27892f;
}

.negative {
  color: #c02a1d;
}

/* debug stuff below */

.bghint {
  background-color: #f3f7f7;
}
